

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h3>Creación de Productos</h3>
                <br>
                
                <a href="/api/productos">Regresar</a>
            </div>
            <div class="jumbotron">
                <h2>Listado de Productos</h1>
                <br>
                <div id="productos">

                </div>
            </div>
        </div>
        <div class="col-md-4">            
            <div class="jumbotron">
                
            </div>
        </div>
    </div>
</div>


 

    